# Allocation by cycles groups

## introduction
The purpose of this script is to generate the data table of usage information by each group in each year. The data source is from the table "midway_allocation". 
The script will generate the 6 yearly data file 'years_detail_usages.csv' with three columns: 
 - cycle: 201X means subtotals from allocation records ended between 10/01/201(X-1) to 09/30/201X
 - account: account name
 - allocation: total SUs allocated

#### Sum up yearly allocations to get a data file 'allocs_by_cycle_group.csv'.

In [1]:
%run include/required_libs.py
%matplotlib inline

In [2]:
cycles = range(2013,2019)

In [3]:
for year in cycles:
    a = '''select account,
        sum(`cpuhours`) as `allocation`
        from midway_allocation
        where (type ='Research I' or type ='Research II') and allocation_period_id = '''


    c = '''
        group by account 
        order by `allocation` desc'''
    
    yearly = pd.read_sql(a + str(year-2011) + c, cnx)
    yearly.to_csv('rawdata/allocs_by_group_' + str(year) + '.csv', index=False)

- We firstly get the detailed allocations that grouped by cycles and groups

In [4]:
allocs_by_cycle_group = pd.DataFrame()
for year in cycles:
    yearly = pd.read_csv('rawdata/allocs_by_group_' + str(year) + '.csv')
    yearly['cycle']= year
    allocs_by_cycle_group = allocs_by_cycle_group.append(yearly)
    
allocs_by_cycle_group.to_csv('rawdata/allocs_by_cycle_group.csv', index=False)
allocs_by_cycle_group[allocs_by_cycle_group['account']=='pi-gavoth']

     account  allocation  cycle
1  pi-gavoth   1325000.0   2013
0  pi-gavoth   2494000.0   2014
0  pi-gavoth   3610560.0   2015
1  pi-gavoth   2600000.0   2016
0  pi-gavoth   6548000.0   2017
1  pi-gavoth   4000000.0   2018