# Introduction

The script generates a table of 2 columns: account and its unit

In [1]:
%run include/required_libs.py
%matplotlib inline

In [2]:
sql = '''select midway_account.account as account, unit.unit_short as unit 
    from midway_account
    left join unit on unit.unit_id = midway_account.unit_id
'''
account_unit = pd.read_sql(sql, cnx)

In [7]:
account_unit.to_csv('rawdata/accts_vs_units.csv', index =False)